.title h2 {
  font-size: 3em;
  text-align: center;
}

.container__detail {
  border-radius: 30px;
}

.container__detail:nth-child(even) {
  flex-direction: row-reverse;
}

.container__image {
  border-radius: 50%;
  width: 20%;
}

.container__inner {
  flex: 1;
}

.social-media_link {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media_link a {
  display: inherit;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
}

.social-media_link a:nth-child(1) {
  color: #444c56;
}

.social-media_link a:nth-child(2) {
  color: #063e7a;
}

.social-media_link a:nth-child(3) {
  color: #be0aff;
}

.social-media_link a:nth-child(4) {
  color: #da2525;
}

.social-media_link a:nth-child(5) {
  color: #4ac959;
}