.title h2 {
  font-size: 3em;
  text-align: center;
}

.container__detail {
  border-radius: 10px;
  width: 3in;
  height: 350px;
  text-align: center;
  background: var(--bs-blue);
  gap: 20px;
  z-index: 1;
}

.container__image {
  margin: 2em;
  border-radius: 50%;
  font-size: 11px;
  width: 50%;
  background-color: #152f50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
}

.social-media_link {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s;
}

.social-media_link a {
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 300ms ease;
}

.social-media_link a:nth-child(1) {
  color: #444c56;
}

.social-media_link a:nth-child(2) {
  color: #063e7a;
}

.social-media_link a:nth-child(3) {
  color: #be0aff;
}

.social-media_link a:nth-child(4) {
  color: #da2525;
}

.social-media_link a:nth-child(5) {
  color: #4ac959;
}