.container h2 {
  text-align: center;
}

.container__detail {
  border-radius: 10px;
  text-align: center;
  gap: 10px;
  z-index: 1;
}

.container__image {
  margin: 2em;
  border-radius: 50%;
  font-size: 11px;
  width: 50%;
  max-width: 100px;
  max-height: 100px;
  background-color: #152f50;
  object-fit: cover;
  transition: all 0.5s;
  z-index: 99;
}

.social-media_link {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s;
}

.social-media_link a {
  color: #000;
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 300ms ease;
}