* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 121, 121);
  border-radius: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.page-active {
  border-bottom: 2px solid black;
}

.nav-item.page-active .nav-link {
  color: var(--bs-yellow);
}

/* ----------- Carousel ----------- */

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px #000, 0 0 10px #000;
}

/* ----------- Carousel End ----------- */

best-recommendation,
destination-recommendation,
.carousel,
nearest-destination {
  margin-top: 5rem;
  display: block;
}

/* ----------- Section 2 ----------- */

.card-recommendation-destination {
  position: relative;
  transition: 0.5s;
  z-index: 9;
}

.card-recommendation-destination:hover {
  transform: scale(1.05);
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

/* ----------- Section 2 End ----------- */

/* ----------- Section 4 ----------- */

.destination-image {
  width: 120px;
  height: 120px;
}

/* ----------- Section 4 End ----------- */
