@media screen and (max-width: 768px) {
  .search-box {
    margin: 0 10%;
    gap: 15px;
  }
  .title h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 992px) {
  .item-nav {
    position: unset;
    transform: unset;
  }
}