@media screen and (min-width: 375px) {
  .carousel-caption {
    top: 15vh;
  }
}

@media screen and (min-width: 768px) {
  .item-nav {
    position: unset;
    transform: unset;
  }
  .search-box {
    margin: 0 10%;
    gap: 15px;
  }
  .carousel-caption {
    top: 20vh;
  }
  /* About Us Page */
  .title h2 {
    font-size: 2em;
  }
  .container__detail:hover .container__detail-socialMedia {
    opacity: 1;
  }
  .container__detail:hover .container__image {
    transform: scale(1.1);
  }
  .container__detail-socialMedia {
    opacity: 0;
  }
  .container__detail-socialMedia a:hover {
    color: #3090df !important;
    text-shadow: 0 0 20px #fff, 0 0 20px #fff;
    transform: scale(1.4);
  }
  /* About Us Page End */
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1280px) {
  .carousel-caption {
    top: 25vh;
  }
}

@media (max-width: 767.98px) {
  .footer-32892 .footer-menu li {
    display: block;
  }
  .footer-32892 .footer-menu li a {
    display: block;
    padding-left: 0px;
  }
}
