@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .item-nav {
    position: unset;
    transform: unset;
  }
  .search-box {
    margin: 0 10%;
    gap: 15px;
  }
  /* About Us Page */
  .title h2 {
    font-size: 2em;
  }
  .container__detail {
    width: 3in;
    height: 350px;
  }
  .container__detail:hover .social-media_link {
    opacity: 1;
  }
  .container__detail:hover .container__image {
    transform: scale(1.1);
  }
  .social-media_link {
    opacity: 0;
  }
  .social-media_link a:hover {
    color: #3090df !important;
    text-shadow: 0 0 20px #fff, 0 0 20px #fff;
    transform: scale(1.4);
  }
  /* About Us Page End */
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1280px) {}