:root {
  --text-color: #222;
  --bkg-color: #eee;
  --nav-color: #fff;
  --nav-text-color: #000;
  --shadow-color: #777474;
  --footer-color: #a52a2a;
}

:root .dark-theme {
  --text-color: #c7c7c7;
  --bkg-color: #17191a;
  --nav-color: #7fffd4;
  --nav-text-color: #ff0000;
  --shadow-color: #807878;
  --footer-color: #0f488a;
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

.navbar {
  background: var(--nav-color);
  color: var(--nav-text-color);
}

.search-box {
  background: var(--bkg-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px var(--shadow-color);
}

footer {
  background: var(--footer-color);
}