/* Dark mode color */

:root {
  --text-color: #222;
  --bkg-color: #eee;
  --nav-text-color: #000;
  --shadow-color: #9e9b9b;
  --card-bg: #d8d5d5;
  --footer-color: #202126;
}

:root .dark-theme {
  --text-color: #c7c7c7;
  --bkg-color: #242729;
  --nav-color: #723d46;
  --nav-text-color: #ff0000;
  --shadow-color: #807878;
  --card-bg: #4d4949;
  --footer-color: #472d30;
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

a,
.nav-item a {
  color: var(--text-color);
}

.navbar {
  background: var(--nav-color);
}

.search-box {
  background: var(--bkg-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px var(--shadow-color);
}

.card {
  background: var(--card-bg);
  box-shadow: 0 2px 10px var(--shadow-color);
}

footer {
  background: var(--footer-color);
}
