.container-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card-destination {
  border-radius: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-destination img {
  height: 400px;
  transition: all 0.5s ease;
  z-index: 10;
}

.card-destination .card__inner {
  padding: 1em;
  color: #fff;
  position: absolute;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(100%);
  transition: all 0.5s ease;
  z-index: 30;
}

.card-destination .card__inner .card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 7;
  -webkit-line-clamp: 7;
  opacity: 0;
  transition: all 0.5s ease;
}

.card-destination:hover {
  align-items: center;
}

.card-destination:hover::after {
  height: 100%;
}

.card-destination:hover .card__inner {
  bottom: auto;
  transform: translateY(0);
}

.card-destination:hover .card__inner .card__description {
  opacity: 1;
}

.card-destination::after {
  content: " ";
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
  z-index: 20;
}

/* Img */

.header-img {
  width: 100%;
  /* height: auto; */
  max-height: 400px;
  object-fit: cover;
}

.imgContent {
  width: 100%;
  object-fit: cover;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Section */

.title {
  font-size: 4em;
  font-weight: bolder;
}

/* New Explore */

.jumbotron {
  /* background-image: url("../media/DanauToba.png"); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-position: 0 -150px;
  color: #99917a;
  overflow: hidden;
  height: 300px;
}

.jumbotron img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 1),
    1px 1px 20px rgba(255, 255, 255, 0.5);
  line-height: 300px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* End Explore */

/*Profile Card 5*/

.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card-5 h5 {
  color: #000000;
  font-weight: 600;
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-5 .btn-primary {
  background-color: #292929;
  border-color: #4e5e30;
}
