.footer-32892 {
  font-family: "Josefin Sans", sans-serif;
}
.footer-32892 h3 {
  margin-bottom: 1em;
  font-size: 20px;
}

.footer-32892 p {
  font-family: "Source Serif Pro", serif;
}

.footer-32892 a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.icon {
  width: 1.5rem;
}
