.footer-32892 {
  color: #888;
  font-family: "Josefin Sans", sans-serif;
}
.footer-32892 h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-32892 p {
  font-family: "Source Serif Pro", serif;
}

.footer-32892 a {
  color: var(--bs-info);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer-32892 a:hover {
  color: var(--bs-success);
}
